body {
    font-family: 'Montserrat', sans-serif;
}

.titulo {
    background: #66AB34;
}

.contenido-footer {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    /* background: #66AB34; */
}

.carrito {
    background: #C05A2A;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #FFFFFF;
}

.title {
    padding-left: 5%;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    color: #FFFFFF;
}

.box {
    display: flex;
}

.header-element {
    margin-right: 5px;
}

.arriba {
    background: #11420B;
}

.arriba-texto {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #FFFFFF;
}

.menu_boton_movil {
    background-color: #66AB34;
    border: none;
    font-size: 20px;
}

.menu_boton_movil:focus {
    border: none;
    outline: 0;
}

.white {
    color: white !important;
    padding-top: 8px;
    padding-bottom: 8px;
}

.footer {
    min-height: 200px;
    background: #053000;
}

.main {
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: calc(100vh - 400px);
}

.logo {
    padding: 15px;
    
}

.producto {
    justify-content: center;
}

.producto-grid {
    margin-bottom: 30px;
    margin-top: 30px;
}

.boton-anadir {
    background-color: 66AB34;
    border-radius: 30px;
    border: none;
}

.boton-anadir:hover {
    background-color: C05A2A;
    border: none;
}

.nav a {
    color: black;
    text-transform: uppercase;
}

.footer-primero {
    width: 220.59px;
    height: 120.59px;
}

.footer-segundo-letra {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 11.7649px;
    line-height: 14px;
    color: #FFFFFF;
}

.footer-tercero-lista {
    list-style: none;
    margin: auto;
    padding-left: 0;
}

.footer-tercero-lista-item {
    width: 186.28px;
    height: 17.65px;
    left: 0px;
    top: 85.3px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14.7062px;
    line-height: 18px;
    margin-bottom: 10px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
}